## Nivell 1


- Exercici 1

Crea una base de dades relacionals senzilla utilitzant MySQL(https://www.mysql.com/) i connecta-la a Python

-- This script was generated by a beta version of the ERD tool in pgAdmin 4.
-- Please log an issue at https://redmine.postgresql.org/projects/pgadmin4/issues/new if you find any bugs, including reproduction steps.
BEGIN;

DROP TABLE IF EXISTS "CLIENTS" CASCADE;
CREATE TABLE IF NOT EXISTS public."CLIENTS"
(
    "IDClient" integer NOT NULL,
    "NIF" varchar(9) NOT NULL,
    "Nom" varchar(30) NOT NULL,
    "PrimerCognom" varchar(30) NOT NULL,
    "SegonCognom" varchar(30) NOT NULL,
    "Mail" varchar(50) NOT NULL,
    "Telefon1" varchar(9) NOT NULL,
    "Telefon2" varchar(9) NOT NULL,
    "Adresa" varchar(50) NOT NULL,
    "CP" varchar(5) NOT NULL,
    "Municipi" varchar(30) NOT NULL,
    PRIMARY KEY ("IDClient")
)
WITH (
    OIDS = FALSE
);

DROP TABLE IF EXISTS "ESTABLIMENTS" CASCADE;
CREATE TABLE IF NOT EXISTS public."ESTABLIMENTS"
(
    "IDEstabliment" integer NOT NULL,
    "Nom" varchar(30) NOT NULL,
    "Descripcio" varchar(150) NOT NULL,
    "Mail" varchar(50) NOT NULL,
	"Telefon1" varchar(9) NOT NULL,
    "Adresa" varchar(100) NOT NULL,
	"CP" varchar(5) NOT NULL,
    "Municipi" varchar(50) NOT NULL,
    "Geolocalitzacio" varchar(30) NOT NULL,
    "Superficie" numeric(10) NOT NULL,
    "Plantes" integer NOT NULL,
    PRIMARY KEY ("IDEstabliment")
)
WITH (
    OIDS = FALSE
);

DROP TABLE IF EXISTS "COMPRES" CASCADE;
CREATE TABLE IF NOT EXISTS public."COMPRES"
(
    "IDCompra" integer NOT NULL,
    "IDProducte" integer NOT NULL,
    "IDClient" integer NOT NULL,
    "IDEstabliment" integer NOT NULL,
    "IDTreballador" integer NOT NULL,
    "DataVenda" date NOT NULL,
    PRIMARY KEY ("IDCompra")
)
WITH (
    OIDS = FALSE
);

DROP TABLE IF EXISTS "PRODUCTES" CASCADE;
CREATE TABLE IF NOT EXISTS public."PRODUCTES"
(
    "IDProducte" integer NOT NULL,
    "Codi" varchar(20) NOT NULL,
    "Descripcio" varchar(150) NOT NULL,
    "Preu" numeric(10) NOT NULL,
    "Stock" varchar(5) NOT NULL,
    "DataCompra" date NOT NULL,
    "IDTipus" integer NOT NULL,
    "Proveidor" varchar(50) NOT NULL,
    "Model" varchar(50) NOT NULL,
    PRIMARY KEY ("IDProducte")
)
WITH (
    OIDS = FALSE
);

DROP TABLE IF EXISTS "TREBALLADORS" CASCADE;
CREATE TABLE IF NOT EXISTS public."TREBALLADORS"
(
    "IDTreballador" integer NOT NULL,
    "NIF" varchar(9) NOT NULL,
    "Nom" varchar(30) NOT NULL,
    "PrimerCognom" varchar(30) NOT NULL,
    "SegonCognom" varchar(30) NOT NULL,
    "Telefon1" varchar(9) NOT NULL,
    "Telefon2" varchar(9) NOT NULL,
    "Mail" varchar(50) NOT NULL,
    "Categoria" varchar(20) NOT NULL,
    "Salari" numeric(10) NOT NULL,
    "Adresa" varchar(50) NOT NULL,
    "CP" integer NOT NULL,
    "Municipi" varchar(30) NOT NULL,
    "IDEstabliment" integer NOT NULL,
    PRIMARY KEY ("IDTreballador")
)
WITH (
    OIDS = FALSE
);

DROP TABLE IF EXISTS "TIPUS_PRODUCTE" CASCADE;
CREATE TABLE IF NOT EXISTS public."TIPUS_PRODUCTE"
(
    "IDTipus" integer NOT NULL,
    "Codi" varchar(30) NOT NULL,
    "Descripcio" varchar(150) NOT NULL,
    "IVA" numeric(5) NOT NULL,
    PRIMARY KEY ("IDTipus")
)
WITH (
    OIDS = FALSE
);

ALTER TABLE public."CLIENTS"
    ADD FOREIGN KEY ("IDClient")
    REFERENCES public."CLIENTS" ("IDClient")
    NOT VALID;


ALTER TABLE public."ESTABLIMENTS"
    ADD FOREIGN KEY ("IDEstabliment")
    REFERENCES public."ESTABLIMENTS" ("IDEstabliment")
    NOT VALID;


ALTER TABLE public."TREBALLADORS"
    ADD FOREIGN KEY ("IDTreballador")
    REFERENCES public."TREBALLADORS" ("IDTreballador")
    NOT VALID;


ALTER TABLE public."TIPUS_PRODUCTES"
    ADD FOREIGN KEY ("IDTipus")
    REFERENCES public."TIPUS_PRODUCTE" ("IDTipus")
    NOT VALID;


ALTER TABLE public."COMPRES"
    ADD FOREIGN KEY ("IDCompra")
    REFERENCES public."TREBALLADORS" ("IDEstabliment")
    NOT VALID;

END;

In [1]:
#!pip install psycopg2
# Create connection to the database
import psycopg2

connection = psycopg2.connect(host="localhost",database="curs_datascience",user="postgres",password="postgres")
#print(connection)

cursor = connection.cursor()

#Show all tablescreated before
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' ORDER BY table_name;")
connection.commit()
pgresult = cursor.fetchall()
for table in pgresult: print(table)

('CLIENTS',)
('COMPRES',)
('ESTABLIMENTS',)
('PRODUCTES',)
('TIPUS_PRODUCTE',)
('TREBALLADORS',)

In [2]:
# Table "CLIENTS" - Insert records 
sql = 'INSERT INTO "CLIENTS" ("IDClient", "NIF", "Nom", "PrimerCognom", "SegonCognom", "Mail", "Telefon1", "Telefon2", "Adresa", "CP", "Municipi") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
values = [("1", "67749524T", "Antoni", "Rivas", "Chapon", "antonirivas@gmail.com", "627542716", "671864733", "Carrer Virgina, 1 2on 3a", "25009", "Lleida"),
("2", "53489761R", "Alba", "Lahorta", "Granya", "albalahorta@gmail.com", "672715969", "691512314", "Carrer Virgina, 1 2on 3a", "25010", "Lleida"),
("3", "91768758S", "Piere", "Duchamps", "Allez", "piereduchamps@gmail.com", "628616293", "687183836", "Plaça del Pagesos, 1 3e 4a", "25057", "Lleida"),
("4", "55737249E", "Akira", "Hito", "Shong", "akirahito@gmail.com", "697583849", "674355399", "Carrer Major, 12 2on 1a", "25281", "Alpicat"),
("5", "74771564H", "Oscar", "Farruchi", "Mathew", "oscarfarruchi@gmail.com", "618769257", "653526474", "Carrer Llitera, s/n 3er 2a", "25193", "Alfarràs"),
("6", "43788434U", "Montse", "Abeto", "Robles", "montseabeto@gmail.com", "627522127", "669552963", "Carrer Descartes, 20 4rt 4a", "25024", "Lleida"),
("7", "95896627J", "David", "Renuevo", "Dobles", "davidrenuevo@gmail.com", "643962587", "698278869", "Carrer Riemman, 34 5e 3a", "25074", "Lleida"),
("8", "79428422K", "Merche", "Marcia", "Navas", "merchemarcia@gmail.com", "641482557", "678551362", "Carrer Roger de Balanço, s/n baixos", "25045", "Lleida"),
("9", "57163657L", "Floren", "Perez", "Montés", "florenperez@gmail.com", "698263197", "653488194", "Carrer Kandinsky, 8, 1er 1a", "25168", "Torrefarrera"),
("10", "29121863Z", "Judith", "Gracia", "Narvona", "judithgracia@gmail.com", "674819233", "614678983", "Carrer sense nom, 2 1er 1a", "25186", "Alcarras"),
("11", "32225188X", "Maximo", "Wellintong", "Hill", "maximowellintong@gmail.com", "656299539", "615891574", "Carrer del Sol, 14 2on 2a", "25265", "Alcarras"),
("12", "13372872C", "Manel", "Garret", "Sibone", "manelgarret@gmail.com", "674126717", "696143839", "Carrer Univers, 3", "25216", "Benavent")]
       
cursor.executemany(sql,values)
connection.commit()

print(cursor.rowcount, "rows correctly inserted")

12 rows correctly inserted

In [3]:
cursor.execute('SELECT * FROM "CLIENTS"')

pgresult = cursor.fetchall()

for x in pgresult:
    print(x)

(1, '67749524T', 'Antoni', 'Rivas', 'Chapon', 'antonirivas@gmail.com', '627542716', '671864733', 'Carrer Virgina, 1 2on 3a', '25009', 'Lleida')
(2, '53489761R', 'Alba', 'Lahorta', 'Granya', 'albalahorta@gmail.com', '672715969', '691512314', 'Carrer Virgina, 1 2on 3a', '25010', 'Lleida')
(3, '91768758S', 'Piere', 'Duchamps', 'Allez', 'piereduchamps@gmail.com', '628616293', '687183836', 'Plaça del Pagesos, 1 3e 4a', '25057', 'Lleida')
(4, '55737249E', 'Akira', 'Hito', 'Shong', 'akirahito@gmail.com', '697583849', '674355399', 'Carrer Major, 12 2on 1a', '25281', 'Alpicat')
(5, '74771564H', 'Oscar', 'Farruchi', 'Mathew', 'oscarfarruchi@gmail.com', '618769257', '653526474', 'Carrer Llitera, s/n 3er 2a', '25193', 'Alfarràs')
(6, '43788434U', 'Montse', 'Abeto', 'Robles', 'montseabeto@gmail.com', '627522127', '669552963', 'Carrer Descartes, 20 4rt 4a', '25024', 'Lleida')
(7, '95896627J', 'David', 'Renuevo', 'Dobles', 'davidrenuevo@gmail.com', '643962587', '698278869', 'Carrer Riemman, 34 5e 3a', '25074', 'Lleida')
(8, '79428422K', 'Merche', 'Marcia', 'Navas', 'merchemarcia@gmail.com', '641482557', '678551362', 'Carrer Roger de Balanço, s/n baixos', '25045', 'Lleida')
(9, '57163657L', 'Floren', 'Perez', 'Montés', 'florenperez@gmail.com', '698263197', '653488194', 'Carrer Kandinsky, 8, 1er 1a', '25168', 'Torrefarrera')
(10, '29121863Z', 'Judith', 'Gracia', 'Narvona', 'judithgracia@gmail.com', '674819233', '614678983', 'Carrer sense nom, 2 1er 1a', '25186', 'Alcarras')
(11, '32225188X', 'Maximo', 'Wellintong', 'Hill', 'maximowellintong@gmail.com', '656299539', '615891574', 'Carrer del Sol, 14 2on 2a', '25265', 'Alcarras')
(12, '13372872C', 'Manel', 'Garret', 'Sibone', 'manelgarret@gmail.com', '674126717', '696143839', 'Carrer Univers, 3', '25216', 'Benavent')

In [4]:
# Table "ESTABLIMENTS" - Insert records 
sql = 'INSERT INTO "ESTABLIMENTS" ("IDEstabliment", "Nom", "Descripcio", "Mail", "Telefon1", "Adresa", "CP", "Municipi", "Geolocalitzacio", "Superficie", "Plantes") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
values = [("1", "Informatica Riba - Eix", "Establiment ubicat en ple Eix comercial de Lleida", "eixcomercial@informaticariba.com", "627545812", "Carrer Major, 14", "25001", "Lleida", "41.613291, 0.624505", "60", "2"),
("2", "Informatica Riba - Pardinyes", "Establiment ubicat en el barri de Pardinyes de Lleida", "pardinyes@informaticariba.com", "674356717", "Carrer Corregidor Escofet, 35", "25003", "Lleida", "41.623387, 0.637939", "45", "1")]
       
cursor.executemany(sql,values)
connection.commit()

print(cursor.rowcount, "rows correctly inserted")

2 rows correctly inserted

In [5]:
cursor.execute('SELECT * FROM "ESTABLIMENTS"')

pgresult = cursor.fetchall()

for x in pgresult:
    print(x)

(1, 'Informatica Riba - Eix', 'Establiment ubicat en ple Eix comercial de Lleida', 'eixcomercial@informaticariba.com', '627545812', 'Carrer Major, 14', '25001', 'Lleida', '41.613291, 0.624505', Decimal('60'), 2)
(2, 'Informatica Riba - Pardinyes', 'Establiment ubicat en el barri de Pardinyes de Lleida', 'pardinyes@informaticariba.com', '674356717', 'Carrer Corregidor Escofet, 35', '25003', 'Lleida', '41.623387, 0.637939', Decimal('45'), 1)

In [6]:
# Table "PRODUCTES" - Insert records 
sql = 'INSERT INTO "PRODUCTES" ("IDProducte", "Codi", "Descripcio", "Preu", "Stock", "DataCompra", "IDTipus", "Proveidor", "Model") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)'
values = [("1", "RAT01", "Ratolí USB Genius RT67", "12.5", "13", "12/6/2021", "1", "Genius", "Genius RT67"),
("2", "RAT02", "Ratolí inhalambric ADP POI2", "24.75", "10", "11/2/2021", "1", "ADP", "ADP POI2"),
("3", "TEC01", "Teclat USB Logitech Double W", "8.75", "8", "23/3/2021", "2", "Logitech", "Logitech Double W"),
("4", "TEC02", "Teclat inhalambric GINX WE56", "15.85", "9", "26/4/2021", "2", "GINX", "GINX WE56"),
("5", "MON01", "Monitor Lenovo 27' Plain", "152.5", "3", "22/8/2021", "3", "Lenovo", "Lenovo 27' Plain"),
("6", "MON02", "Monitor LG-78 30'", "195.25", "3", "21/2/2021", "3", "LG-78", "LG-78 30'"),
("7", "PLA01", "Placa base ASUS 24G", "230.8", "6", "14/6/2021", "4", "ASUS", "ASUS 24G"),
("8", "PLA02", "Placa base PROFG 34-C", "225.67", "3", "19/9/2021", "4", "PROFG", "PROFG 34-C"),
("9", "PRO01", "Processador AMD IX", "168.35", "11", "23/6/2021", "5", "AMD", "AMD IX"),
("10", "PRO02", "Processador INTEL i9", "214.29", "10", "24/3/2021", "5", "INTEL", "INTEL i9"),
("11", "VEN01", "Ventilador TGH-7T", "45.89", "1", "27/2/2021", "6", "TGH", "TGH-7T"),
("12", "VEN02", "Ventilador AMF 2X", "65.25", "13", "18/9/2021", "6", "AMF", "AMF 2X"),
("13", "DIS01", "Disc dur Seagate SATA 2 TB", "105.65", "14", "11/5/2021", "7", "Seagate", "SATA 2 TB"),
("14", "DIS02", "Disc dur SSD 1 TB", "152.62", "3", "16/3/2021", "7", "Seagate", "SSD 1 TB"),
("15", "RAM01", "Memória RAM DeltaF 8 GB", "95.75", "4", "21/11/2021", "8", "DeltaF", "RAM 8 GB"),
("16", "RAM02", "Memória RAM DeltaF 16 GB", "172.36", "11", "29/7/2021", "8", "DeltaF", "RAM 16 GB")]
       
cursor.executemany(sql,values)
connection.commit()

print(cursor.rowcount, "rows correctly inserted")

16 rows correctly inserted

In [7]:
cursor.execute('SELECT * FROM "PRODUCTES"')

pgresult = cursor.fetchall()

for x in pgresult:
    print(x)

(1, 'RAT01', 'Ratolí USB Genius RT67', Decimal('13'), '13', datetime.date(2021, 6, 12), 1, 'Genius', 'Genius RT67')
(2, 'RAT02', 'Ratolí inhalambric ADP POI2', Decimal('25'), '10', datetime.date(2021, 2, 11), 1, 'ADP', 'ADP POI2')
(3, 'TEC01', 'Teclat USB Logitech Double W', Decimal('9'), '8', datetime.date(2021, 3, 23), 2, 'Logitech', 'Logitech Double W')
(4, 'TEC02', 'Teclat inhalambric GINX WE56', Decimal('16'), '9', datetime.date(2021, 4, 26), 2, 'GINX', 'GINX WE56')
(5, 'MON01', "Monitor Lenovo 27' Plain", Decimal('153'), '3', datetime.date(2021, 8, 22), 3, 'Lenovo', "Lenovo 27' Plain")
(6, 'MON02', "Monitor LG-78 30'", Decimal('195'), '3', datetime.date(2021, 2, 21), 3, 'LG-78', "LG-78 30'")
(7, 'PLA01', 'Placa base ASUS 24G', Decimal('231'), '6', datetime.date(2021, 6, 14), 4, 'ASUS', 'ASUS 24G')
(8, 'PLA02', 'Placa base PROFG 34-C', Decimal('226'), '3', datetime.date(2021, 9, 19), 4, 'PROFG', 'PROFG 34-C')
(9, 'PRO01', 'Processador AMD IX', Decimal('168'), '11', datetime.date(2021, 6, 23), 5, 'AMD', 'AMD IX')
(10, 'PRO02', 'Processador INTEL i9', Decimal('214'), '10', datetime.date(2021, 3, 24), 5, 'INTEL', 'INTEL i9')
(11, 'VEN01', 'Ventilador TGH-7T', Decimal('46'), '1', datetime.date(2021, 2, 27), 6, 'TGH', 'TGH-7T')
(12, 'VEN02', 'Ventilador AMF 2X', Decimal('65'), '13', datetime.date(2021, 9, 18), 6, 'AMF', 'AMF 2X')
(13, 'DIS01', 'Disc dur Seagate SATA 2 TB', Decimal('106'), '14', datetime.date(2021, 5, 11), 7, 'Seagate', 'SATA 2 TB')
(14, 'DIS02', 'Disc dur SSD 1 TB', Decimal('153'), '3', datetime.date(2021, 3, 16), 7, 'Seagate', 'SSD 1 TB')
(15, 'RAM01', 'Memória RAM DeltaF 8 GB', Decimal('96'), '4', datetime.date(2021, 11, 21), 8, 'DeltaF', 'RAM 8 GB')
(16, 'RAM02', 'Memória RAM DeltaF 16 GB', Decimal('172'), '11', datetime.date(2021, 7, 29), 8, 'DeltaF', 'RAM 16 GB')

In [8]:
# Table "TREBALLADORS" - Insert records 
sql = 'INSERT INTO "TREBALLADORS" ("IDTreballador", "NIF", "Nom", "PrimerCognom", "SegonCognom", "Telefon1", "Telefon2", "Mail", "Categoria", "Salari", "Adresa", "CP", "Municipi", "IDEstabliment") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
values = [("1", "98549479T", "Manel", "Sanchez", "Dragó", "635319797", "667264245", "manelsanchez@informaticariba.com", "Dependent", "1400", "Carrer Nikis Theodorakis, 5 6é 3a", "25134", "Lleida", "1"),
("2", "81396122R", "Carla", "Ribera", "Alta", "673777455", "645924468", "carlaribera@informaticariba.com", "Encarregat", "1800", "Carrer Carl Sagan, 10 1er 3a", "25296", "Lleida", "1"),
("3", "22781324S", "Aureli", "Lleó", "Màrquez", "615642542", "697782676", "aurelilleo@informaticariba.com", "Dependent", "1400", "Avinuda del Barranc, sn", "25088", "Alcarrás", "1"),
("4", "52416561E", "Audrey", "Wilson", "Churchill", "654285427", "637737216", "audreywilson@informaticariba.com", "Encarregat", "1800", "Carrer Major, 4 1er 2a", "25059", "Alpicat", "2"),
("5", "63652846C", "Marc", "Garrido", "Mateos", "697369411", "669256584", "marcgarrido@informaticariba.com", "Dependent", "1400", "Carrer Roviera Roure, 2 1er 2a", "25169", "Roselló", "2")]
       
cursor.executemany(sql,values)
connection.commit()

print(cursor.rowcount, "rows correctly inserted")

5 rows correctly inserted

In [9]:
cursor.execute('SELECT * FROM "TREBALLADORS"')

pgresult = cursor.fetchall()

for x in pgresult:
    print(x)

(1, '98549479T', 'Manel', 'Sanchez', 'Dragó', '635319797', '667264245', 'manelsanchez@informaticariba.com', 'Dependent', Decimal('1400'), 'Carrer Nikis Theodorakis, 5 6é 3a', 25134, 'Lleida', 1)
(2, '81396122R', 'Carla', 'Ribera', 'Alta', '673777455', '645924468', 'carlaribera@informaticariba.com', 'Encarregat', Decimal('1800'), 'Carrer Carl Sagan, 10 1er 3a', 25296, 'Lleida', 1)
(3, '22781324S', 'Aureli', 'Lleó', 'Màrquez', '615642542', '697782676', 'aurelilleo@informaticariba.com', 'Dependent', Decimal('1400'), 'Avinuda del Barranc, sn', 25088, 'Alcarrás', 1)
(4, '52416561E', 'Audrey', 'Wilson', 'Churchill', '654285427', '637737216', 'audreywilson@informaticariba.com', 'Encarregat', Decimal('1800'), 'Carrer Major, 4 1er 2a', 25059, 'Alpicat', 2)
(5, '63652846C', 'Marc', 'Garrido', 'Mateos', '697369411', '669256584', 'marcgarrido@informaticariba.com', 'Dependent', Decimal('1400'), 'Carrer Roviera Roure, 2 1er 2a', 25169, 'Roselló', 2)

In [10]:
# Table "TIPUS_PRODUCTE" - Insert records 
sql = 'INSERT INTO "TIPUS_PRODUCTE" ("IDTipus", "Codi", "Descripcio", "IVA") VALUES (%s, %s, %s, %s)'
values = [("1", "RAT", "Ratolí", "21" ),
("2", "TEC", "Teclat", "21" ),
("3", "MON", "Monitor", "21" ),
("4", "PLA", "Placa base", "21" ),
("5", "PRO", "Processador", "21" ),
("6", "VEN", "Ventilador", "21" ),
("7", "DIS", "Disc dur", "21" ),
("8", "RAM", "Memória RAM", "21")]
       
cursor.executemany(sql,values)
connection.commit()

print(cursor.rowcount, "rows correctly inserted")

8 rows correctly inserted

In [11]:
cursor.execute('SELECT * FROM "TIPUS_PRODUCTE"')

pgresult = cursor.fetchall()

for x in pgresult:
    print(x)

(1, 'RAT', 'Ratolí', Decimal('21'))
(2, 'TEC', 'Teclat', Decimal('21'))
(3, 'MON', 'Monitor', Decimal('21'))
(4, 'PLA', 'Placa base', Decimal('21'))
(5, 'PRO', 'Processador', Decimal('21'))
(6, 'VEN', 'Ventilador', Decimal('21'))
(7, 'DIS', 'Disc dur', Decimal('21'))
(8, 'RAM', 'Memória RAM', Decimal('21'))

In [12]:
# Table "COMPRES" - Insert records 
sql = 'INSERT INTO "COMPRES" ("IDCompra", "IDProducte", "IDClient", "IDEstabliment", "IDTreballador", "DataVenda") VALUES (%s, %s, %s, %s, %s, %s)'
values = [("1", "4", "12", "2", "1", "'01/01/2021"),
("2", "15", "4", "2", "2", "'02/01/2021"),
("3", "12", "11", "1", "2", "'03/01/2021"),
("4", "6", "1", "2", "5", "'04/01/2021"),
("5", "8", "7", "2", "1", "'05/01/2021"),
("6", "14", "4", "2", "4", "'06/01/2021"),
("7", "5", "9", "1", "2", "'07/01/2021"),
("8", "16", "5", "2", "5", "'08/01/2021"),
("9", "3", "8", "2", "3", "'09/01/2021"),
("10", "4", "3", "1", "2", "'10/01/2021"),
("11", "9", "1", "2", "3", "'11/01/2021"),
("12", "10", "3", "2", "4", "'12/01/2021"),
("13", "1", "6", "1", "4", "'13/01/2021"),
("14", "14", "9", "1", "5", "'14/01/2021"),
("15", "6", "5", "2", "3", "'15/01/2021"),
("16", "8", "7", "2", "5", "'16/01/2021"),
("17", "11", "10", "1", "4", "'17/01/2021"),
("18", "10", "6", "2", "5", "'18/01/2021"),
("19", "5", "6", "2", "2", "'19/01/2021"),
("20", "16", "2", "1", "2", "'20/01/2021"),
("21", "11", "5", "1", "2", "'21/01/2021"),
("22", "14", "11", "1", "5", "'22/01/2021"),
("23", "9", "3", "2", "1", "'23/01/2021"),
("24", "2", "8", "1", "1", "'24/01/2021"),
("25", "14", "1", "2", "5", "'25/01/2021"),
("26", "7", "4", "2", "1", "'26/01/2021"),
("27", "15", "12", "1", "5", "'27/01/2021"),
("28", "10", "2", "1", "4", "'28/01/2021"),
("29", "6", "3", "2", "2", "'29/01/2021"),
("30", "16", "2", "2", "5", "'30/01/2021"),
("31", "15", "6", "2", "4", "'31/01/2021"),
("32", "13", "2", "1", "5", "'01/02/2021"),
("33", "3", "12", "2", "3", "'02/02/2021"),
("34", "11", "7", "1", "2", "'03/02/2021"),
("35", "9", "4", "1", "4", "'04/02/2021"),
("36", "14", "7", "1", "2", "'05/02/2021"),
("37", "7", "4", "2", "4", "'06/02/2021"),
("38", "12", "1", "1", "1", "'07/02/2021"),
("39", "7", "8", "1", "4", "'08/02/2021"),
("40", "9", "2", "2", "3", "'09/02/2021"),
("41", "4", "4", "1", "5", "'10/02/2021"),
("42", "8", "12", "2", "5", "'11/02/2021"),
("43", "5", "11", "2", "4", "'12/02/2021"),
("44", "15", "12", "2", "3", "'13/02/2021"),
("45", "13", "6", "1", "2", "'14/02/2021"),
("46", "7", "9", "2", "4", "'15/02/2021"),
("47", "15", "9", "2", "5", "'16/02/2021"),
("48", "14", "2", "2", "4", "'17/02/2021"),
("49", "8", "1", "1", "2", "'18/02/2021"),
("50", "15", "7", "1", "2", "'19/02/2021"),
("51", "7", "8", "2", "2", "'20/02/2021"),
("52", "8", "10", "1", "2", "'21/02/2021"),
("53", "9", "2", "2", "5", "'22/02/2021"),
("54", "12", "6", "1", "3", "'23/02/2021"),
("55", "8", "5", "2", "2", "'24/02/2021"),
("56", "2", "8", "2", "3", "'25/02/2021"),
("57", "13", "7", "1", "1", "'26/02/2021"),
("58", "11", "6", "1", "4", "'27/02/2021"),
("59", "8", "11", "1", "4", "'28/02/2021"),
("60", "13", "12", "2", "3", "'01/03/2021"),
("61", "14", "11", "1", "5", "'02/03/2021"),
("62", "7", "6", "2", "1", "'03/03/2021"),
("63", "14", "5", "2", "2", "'04/03/2021"),
("64", "8", "10", "1", "2", "'05/03/2021"),
("65", "12", "8", "2", "3", "'06/03/2021"),
("66", "3", "12", "1", "2", "'07/03/2021"),
("67", "7", "9", "2", "4", "'08/03/2021"),
("68", "3", "2", "1", "4", "'09/03/2021"),
("69", "2", "4", "1", "3", "'10/03/2021"),
("70", "9", "4", "2", "1", "'11/03/2021"),
("71", "16", "1", "1", "2", "'12/03/2021"),
("72", "12", "3", "2", "4", "'13/03/2021"),
("73", "7", "4", "2", "4", "'14/03/2021"),
("74", "12", "3", "2", "5", "'15/03/2021"),
("75", "2", "9", "2", "5", "'16/03/2021"),
("76", "7", "3", "2", "2", "'17/03/2021"),
("77", "16", "2", "2", "3", "'18/03/2021"),
("78", "2", "7", "2", "2", "'19/03/2021"),
("79", "14", "5", "1", "1", "'20/03/2021"),
("80", "13", "4", "2", "1", "'21/03/2021"),
("81", "9", "6", "1", "2", "'22/03/2021"),
("82", "2", "10", "1", "3", "'23/03/2021"),
("83", "13", "7", "1", "1", "'24/03/2021"),
("84", "6", "10", "2", "2", "'25/03/2021"),
("85", "2", "9", "1", "1", "'26/03/2021"),
("86", "12", "12", "2", "4", "'27/03/2021"),
("87", "14", "4", "1", "2", "'28/03/2021"),
("88", "14", "10", "2", "4", "'29/03/2021"),
("89", "5", "5", "2", "5", "'30/03/2021"),
("90", "13", "1", "1", "5", "'31/03/2021"),
("91", "8", "1", "1", "5", "'01/04/2021"),
("92", "8", "9", "1", "1", "'02/04/2021"),
("93", "10", "4", "2", "5", "'03/04/2021"),
("94", "6", "9", "2", "4", "'04/04/2021"),
("95", "13", "1", "2", "1", "'05/04/2021"),
("96", "1", "9", "2", "4", "'06/04/2021"),
("97", "6", "1", "1", "5", "'07/04/2021"),
("98", "5", "9", "2", "5", "'08/04/2021"),
("99", "14", "5", "1", "1", "'09/04/2021"),
("100", "12", "9", "2", "5", "'10/04/2021"),
("101", "13", "2", "1", "2", "'11/04/2021"),
("102", "5", "5", "1", "5", "'12/04/2021"),
("103", "5", "2", "2", "1", "'13/04/2021"),
("104", "7", "9", "2", "2", "'14/04/2021"),
("105", "16", "11", "2", "4", "'15/04/2021"),
("106", "5", "5", "1", "3", "'16/04/2021"),
("107", "16", "3", "1", "2", "'17/04/2021"),
("108", "12", "4", "2", "3", "'18/04/2021"),
("109", "5", "4", "2", "4", "'19/04/2021"),
("110", "15", "12", "1", "5", "'20/04/2021"),
("111", "14", "11", "1", "2", "'21/04/2021"),
("112", "12", "2", "2", "1", "'22/04/2021"),
("113", "8", "10", "2", "3", "'23/04/2021"),
("114", "5", "9", "1", "4", "'24/04/2021"),
("115", "7", "1", "1", "3", "'25/04/2021"),
("116", "12", "4", "2", "3", "'26/04/2021"),
("117", "3", "12", "1", "2", "'27/04/2021"),
("118", "8", "10", "1", "1", "'28/04/2021"),
("119", "3", "12", "1", "3", "'29/04/2021"),
("120", "5", "7", "1", "3", "'30/04/2021"),
("121", "2", "4", "2", "5", "'01/05/2021"),
("122", "1", "10", "1", "5", "'02/05/2021"),
("123", "4", "7", "1", "3", "'03/05/2021"),
("124", "1", "4", "1", "2", "'04/05/2021"),
("125", "12", "2", "2", "4", "'05/05/2021"),
("126", "10", "4", "2", "2", "'06/05/2021"),
("127", "1", "5", "1", "3", "'07/05/2021"),
("128", "1", "11", "1", "3", "'08/05/2021"),
("129", "13", "4", "1", "3", "'09/05/2021"),
("130", "1", "4", "2", "3", "'10/05/2021"),
("131", "4", "6", "2", "1", "'11/05/2021"),
("132", "3", "4", "2", "1", "'12/05/2021"),
("133", "4", "10", "2", "4", "'13/05/2021"),
("134", "14", "12", "1", "1", "'14/05/2021"),
("135", "11", "12", "1", "4", "'15/05/2021"),
("136", "7", "6", "2", "2", "'16/05/2021"),
("137", "7", "12", "1", "3", "'17/05/2021"),
("138", "12", "9", "1", "3", "'18/05/2021"),
("139", "15", "6", "1", "2", "'19/05/2021"),
("140", "14", "5", "2", "3", "'20/05/2021"),
("141", "1", "5", "2", "1", "'21/05/2021"),
("142", "15", "7", "2", "4", "'22/05/2021"),
("143", "10", "9", "2", "3", "'23/05/2021"),
("144", "4", "9", "1", "2", "'24/05/2021"),
("145", "10", "11", "1", "5", "'25/05/2021"),
("146", "12", "10", "2", "4", "'26/05/2021"),
("147", "15", "3", "2", "1", "'27/05/2021"),
("148", "1", "9", "2", "3", "'28/05/2021"),
("149", "1", "3", "1", "4", "'29/05/2021"),
("150", "16", "1", "1", "1", "'30/05/2021"),
("151", "13", "12", "2", "5", "'31/05/2021"),
("152", "13", "6", "1", "3", "'01/06/2021"),
("153", "1", "7", "2", "4", "'02/06/2021"),
("154", "15", "4", "1", "4", "'03/06/2021"),
("155", "16", "4", "2", "2", "'04/06/2021"),
("156", "7", "11", "2", "1", "'05/06/2021"),
("157", "4", "4", "1", "4", "'06/06/2021"),
("158", "7", "8", "1", "4", "'07/06/2021"),
("159", "3", "6", "1", "3", "'08/06/2021"),
("160", "8", "3", "1", "1", "'09/06/2021"),
("161", "14", "11", "2", "3", "'10/06/2021"),
("162", "4", "3", "1", "5", "'11/06/2021"),
("163", "5", "2", "2", "2", "'12/06/2021"),
("164", "8", "3", "1", "2", "'13/06/2021"),
("165", "8", "8", "1", "5", "'14/06/2021"),
("166", "15", "12", "1", "1", "'15/06/2021"),
("167", "7", "9", "2", "5", "'16/06/2021"),
("168", "7", "12", "2", "2", "'17/06/2021"),
("169", "1", "12", "2", "3", "'18/06/2021"),
("170", "12", "8", "1", "1", "'19/06/2021"),
("171", "1", "1", "1", "3", "'20/06/2021"),
("172", "6", "5", "1", "5", "'21/06/2021"),
("173", "7", "2", "2", "2", "'22/06/2021"),
("174", "10", "8", "1", "4", "'23/06/2021"),
("175", "16", "4", "2", "4", "'24/06/2021"),
("176", "14", "2", "1", "5", "'25/06/2021"),
("177", "5", "3", "2", "5", "'26/06/2021"),
("178", "10", "12", "2", "3", "'27/06/2021"),
("179", "10", "7", "2", "3", "'28/06/2021"),
("180", "4", "5", "1", "5", "'29/06/2021"),
("181", "13", "6", "1", "4", "'30/06/2021"),
("182", "16", "4", "2", "5", "'01/07/2021"),
("183", "1", "1", "2", "4", "'02/07/2021"),
("184", "6", "3", "2", "5", "'03/07/2021"),
("185", "7", "2", "2", "5", "'04/07/2021"),
("186", "3", "6", "2", "1", "'05/07/2021"),
("187", "10", "11", "1", "3", "'06/07/2021"),
("188", "12", "12", "1", "2", "'07/07/2021"),
("189", "3", "8", "1", "3", "'08/07/2021"),
("190", "9", "3", "1", "4", "'09/07/2021"),
("191", "13", "5", "1", "2", "'10/07/2021"),
("192", "8", "4", "1", "3", "'11/07/2021"),
("193", "10", "6", "2", "1", "'12/07/2021"),
("194", "5", "5", "1", "3", "'13/07/2021"),
("195", "2", "5", "2", "1", "'14/07/2021"),
("196", "16", "5", "2", "4", "'15/07/2021"),
("197", "6", "11", "2", "5", "'16/07/2021"),
("198", "6", "8", "1", "2", "'17/07/2021"),
("199", "7", "4", "2", "4", "'18/07/2021"),
("200", "10", "5", "2", "4", "'19/07/2021"),
("201", "5", "3", "1", "5", "'20/07/2021"),
("202", "8", "10", "2", "1", "'21/07/2021"),
("203", "9", "6", "2", "2", "'22/07/2021"),
("204", "10", "3", "1", "2", "'23/07/2021"),
("205", "15", "2", "2", "4", "'24/07/2021"),
("206", "16", "12", "1", "5", "'25/07/2021"),
("207", "9", "8", "1", "2", "'26/07/2021"),
("208", "1", "12", "2", "2", "'27/07/2021"),
("209", "11", "12", "2", "4", "'28/07/2021"),
("210", "11", "4", "2", "3", "'29/07/2021"),
("211", "11", "9", "2", "1", "'30/07/2021"),
("212", "13", "7", "2", "5", "'31/07/2021"),
("213", "7", "8", "2", "3", "'01/08/2021"),
("214", "14", "3", "1", "1", "'02/08/2021"),
("215", "5", "10", "1", "1", "'03/08/2021"),
("216", "9", "4", "1", "1", "'04/08/2021"),
("217", "14", "12", "1", "5", "'05/08/2021"),
("218", "11", "10", "1", "3", "'06/08/2021"),
("219", "6", "2", "1", "5", "'07/08/2021"),
("220", "5", "8", "1", "3", "'08/08/2021"),
("221", "8", "2", "2", "3", "'09/08/2021"),
("222", "1", "10", "1", "4", "'10/08/2021"),
("223", "11", "6", "2", "2", "'11/08/2021"),
("224", "16", "6", "2", "2", "'12/08/2021"),
("225", "4", "9", "2", "5", "'13/08/2021"),
("226", "1", "2", "1", "2", "'14/08/2021"),
("227", "6", "10", "2", "1", "'15/08/2021"),
("228", "8", "3", "2", "1", "'16/08/2021"),
("229", "12", "1", "1", "3", "'17/08/2021"),
("230", "11", "7", "2", "2", "'18/08/2021"),
("231", "14", "12", "1", "5", "'19/08/2021"),
("232", "2", "8", "2", "2", "'20/08/2021"),
("233", "3", "10", "1", "3", "'21/08/2021"),
("234", "8", "8", "2", "3", "'22/08/2021"),
("235", "10", "11", "2", "4", "'23/08/2021"),
("236", "14", "4", "1", "3", "'24/08/2021"),
("237", "6", "9", "2", "5", "'25/08/2021"),
("238", "14", "3", "2", "2", "'26/08/2021"),
("239", "7", "5", "1", "3", "'27/08/2021"),
("240", "15", "12", "2", "3", "'28/08/2021"),
("241", "7", "10", "2", "1", "'29/08/2021"),
("242", "14", "3", "2", "2", "'30/08/2021"),
("243", "5", "12", "2", "4", "'31/08/2021"),
("244", "14", "2", "2", "3", "'01/09/2021"),
("245", "3", "10", "1", "2", "'02/09/2021"),
("246", "3", "8", "2", "5", "'03/09/2021"),
("247", "16", "4", "1", "1", "'04/09/2021"),
("248", "3", "6", "1", "2", "'05/09/2021"),
("249", "12", "10", "1", "1", "'06/09/2021"),
("250", "12", "8", "1", "1", "'07/09/2021"),
("251", "10", "12", "1", "5", "'08/09/2021"),
("252", "7", "12", "1", "2", "'09/09/2021"),
("253", "10", "8", "2", "2", "'10/09/2021"),
("254", "7", "11", "2", "2", "'11/09/2021"),
("255", "13", "3", "2", "4", "'12/09/2021"),
("256", "4", "4", "2", "3", "'13/09/2021"),
("257", "8", "5", "1", "1", "'14/09/2021"),
("258", "1", "5", "1", "5", "'15/09/2021"),
("259", "12", "11", "2", "1", "'16/09/2021"),
("260", "7", "9", "2", "4", "'17/09/2021"),
("261", "13", "12", "2", "5", "'18/09/2021"),
("262", "2", "5", "2", "4", "'19/09/2021"),
("263", "5", "11", "1", "1", "'20/09/2021"),
("264", "9", "8", "1", "1", "'21/09/2021"),
("265", "15", "10", "2", "5", "'22/09/2021"),
("266", "10", "12", "1", "4", "'23/09/2021"),
("267", "8", "12", "2", "3", "'24/09/2021"),
("268", "12", "10", "1", "2", "'25/09/2021"),
("269", "6", "8", "2", "4", "'26/09/2021"),
("270", "12", "7", "1", "5", "'27/09/2021"),
("271", "11", "8", "1", "3", "'28/09/2021"),
("272", "5", "11", "2", "2", "'29/09/2021"),
("273", "9", "5", "1", "4", "'30/09/2021"),
("274", "11", "7", "1", "5", "'01/10/2021"),
("275", "6", "8", "2", "2", "'02/10/2021"),
("276", "12", "9", "1", "4", "'03/10/2021"),
("277", "13", "10", "2", "1", "'04/10/2021"),
("278", "11", "7", "1", "4", "'05/10/2021"),
("279", "7", "7", "2", "3", "'06/10/2021"),
("280", "14", "3", "1", "2", "'07/10/2021"),
("281", "13", "2", "1", "4", "'08/10/2021"),
("282", "14", "9", "2", "5", "'09/10/2021"),
("283", "10", "7", "1", "4", "'10/10/2021"),
("284", "12", "11", "1", "3", "'11/10/2021"),
("285", "8", "12", "2", "5", "'12/10/2021"),
("286", "4", "11", "2", "5", "'13/10/2021"),
("287", "13", "11", "1", "4", "'14/10/2021"),
("288", "10", "6", "1", "1", "'15/10/2021"),
("289", "6", "10", "1", "2", "'16/10/2021"),
("290", "6", "5", "2", "4", "'17/10/2021"),
("291", "3", "10", "1", "1", "'18/10/2021"),
("292", "1", "11", "1", "4", "'19/10/2021"),
("293", "11", "7", "2", "5", "'20/10/2021"),
("294", "10", "6", "1", "2", "'21/10/2021"),
("295", "8", "10", "2", "3", "'22/10/2021"),
("296", "5", "8", "2", "2", "'23/10/2021"),
("297", "15", "8", "2", "3", "'24/10/2021"),
("298", "6", "6", "1", "5", "'25/10/2021"),
("299", "10", "4", "1", "3", "'26/10/2021"),
("300", "15", "9", "1", "2", "'27/10/2021"),
("301", "5", "4", "1", "1", "'28/10/2021"),
("302", "4", "11", "2", "3", "'29/10/2021"),
("303", "12", "7", "2", "3", "'30/10/2021"),
("304", "7", "1", "2", "5", "'31/10/2021"),
("305", "12", "10", "1", "1", "'01/11/2021"),
("306", "5", "9", "1", "5", "'02/11/2021"),
("307", "11", "8", "1", "1", "'03/11/2021"),
("308", "1", "12", "1", "4", "'04/11/2021"),
("309", "1", "9", "2", "4", "'05/11/2021"),
("310", "14", "5", "2", "4", "'06/11/2021"),
("311", "7", "6", "2", "5", "'07/11/2021"),
("312", "9", "1", "2", "1", "'08/11/2021"),
("313", "2", "10", "1", "1", "'09/11/2021"),
("314", "5", "1", "1", "5", "'10/11/2021"),
("315", "4", "8", "2", "5", "'11/11/2021"),
("316", "15", "7", "1", "1", "'12/11/2021"),
("317", "15", "5", "1", "2", "'13/11/2021"),
("318", "14", "6", "2", "2", "'14/11/2021"),
("319", "2", "11", "2", "2", "'15/11/2021"),
("320", "15", "10", "1", "1", "'16/11/2021"),
("321", "8", "2", "2", "3", "'17/11/2021"),
("322", "8", "9", "2", "4", "'18/11/2021"),
("323", "12", "12", "1", "2", "'19/11/2021"),
("324", "9", "5", "2", "1", "'20/11/2021"),
("325", "15", "12", "1", "3", "'21/11/2021"),
("326", "8", "8", "2", "2", "'22/11/2021"),
("327", "12", "4", "2", "1", "'23/11/2021"),
("328", "6", "9", "2", "1", "'24/11/2021"),
("329", "16", "5", "1", "2", "'25/11/2021"),
("330", "8", "7", "2", "3", "'26/11/2021"),
("331", "6", "2", "2", "3", "'27/11/2021"),
("332", "13", "9", "1", "4", "'28/11/2021"),
("333", "13", "12", "1", "5", "'29/11/2021"),
("334", "12", "7", "1", "4", "'30/11/2021"),
("335", "4", "12", "2", "2", "'01/12/2021"),
("336", "1", "6", "1", "1", "'02/12/2021"),
("337", "1", "5", "2", "1", "'03/12/2021"),
("338", "13", "3", "2", "5", "'04/12/2021"),
("339", "16", "8", "1", "3", "'05/12/2021"),
("340", "15", "4", "2", "4", "'06/12/2021"),
("341", "2", "6", "2", "4", "'07/12/2021"),
("342", "3", "12", "1", "3", "'08/12/2021"),
("343", "10", "4", "1", "4", "'09/12/2021"),
("344", "16", "1", "2", "4", "'10/12/2021"),
("345", "15", "3", "2", "2", "'11/12/2021"),
("346", "14", "8", "1", "3", "'12/12/2021"),
("347", "8", "7", "2", "4", "'13/12/2021"),
("348", "6", "2", "2", "5", "'14/12/2021"),
("349", "2", "6", "1", "2", "'15/12/2021"),
("350", "14", "8", "2", "1", "'16/12/2021"),
("351", "10", "4", "2", "1", "'17/12/2021"),
("352", "3", "1", "2", "1", "'18/12/2021"),
("353", "8", "3", "2", "5", "'19/12/2021"),
("354", "12", "2", "1", "4", "'20/12/2021"),
("355", "7", "11", "2", "1", "'21/12/2021"),
("356", "16", "10", "1", "5", "'22/12/2021"),
("357", "6", "7", "1", "4", "'23/12/2021"),
("358", "7", "7", "2", "2", "'24/12/2021"),
("359", "6", "1", "1", "4", "'25/12/2021"),
("360", "11", "9", "1", "1", "'26/12/2021"),
("361", "10", "9", "1", "3", "'27/12/2021"),
("362", "4", "5", "2", "3", "'28/12/2021"),
("363", "8", "8", "1", "2", "'29/12/2021"),
("364", "9", "11", "1", "4", "'30/12/2021"),
("365", "13", "1", "2", "2", "'31/12/2021")]
       
cursor.executemany(sql,values)
connection.commit()

print(cursor.rowcount, "rows correctly inserted")

365 rows correctly inserted

In [13]:
cursor.execute('SELECT * FROM "COMPRES"')

pgresult = cursor.fetchall()

for x in pgresult:
    print(x)

(1, 4, 12, 2, 1, datetime.date(2021, 1, 1))
(2, 15, 4, 2, 2, datetime.date(2021, 1, 2))
(3, 12, 11, 1, 2, datetime.date(2021, 1, 3))
(4, 6, 1, 2, 5, datetime.date(2021, 1, 4))
(5, 8, 7, 2, 1, datetime.date(2021, 1, 5))
(6, 14, 4, 2, 4, datetime.date(2021, 1, 6))
(7, 5, 9, 1, 2, datetime.date(2021, 1, 7))
(8, 16, 5, 2, 5, datetime.date(2021, 1, 8))
(9, 3, 8, 2, 3, datetime.date(2021, 1, 9))
(10, 4, 3, 1, 2, datetime.date(2021, 1, 10))
(11, 9, 1, 2, 3, datetime.date(2021, 1, 11))
(12, 10, 3, 2, 4, datetime.date(2021, 1, 12))
(13, 1, 6, 1, 4, datetime.date(2021, 1, 13))
(14, 14, 9, 1, 5, datetime.date(2021, 1, 14))
(15, 6, 5, 2, 3, datetime.date(2021, 1, 15))
(16, 8, 7, 2, 5, datetime.date(2021, 1, 16))
(17, 11, 10, 1, 4, datetime.date(2021, 1, 17))
(18, 10, 6, 2, 5, datetime.date(2021, 1, 18))
(19, 5, 6, 2, 2, datetime.date(2021, 1, 19))
(20, 16, 2, 1, 2, datetime.date(2021, 1, 20))
(21, 11, 5, 1, 2, datetime.date(2021, 1, 21))
(22, 14, 11, 1, 5, datetime.date(2021, 1, 22))
(23, 9, 3, 2, 1, datetime.date(2021, 1, 23))
(24, 2, 8, 1, 1, datetime.date(2021, 1, 24))
(25, 14, 1, 2, 5, datetime.date(2021, 1, 25))
(26, 7, 4, 2, 1, datetime.date(2021, 1, 26))
(27, 15, 12, 1, 5, datetime.date(2021, 1, 27))
(28, 10, 2, 1, 4, datetime.date(2021, 1, 28))
(29, 6, 3, 2, 2, datetime.date(2021, 1, 29))
(30, 16, 2, 2, 5, datetime.date(2021, 1, 30))
(31, 15, 6, 2, 4, datetime.date(2021, 1, 31))
(32, 13, 2, 1, 5, datetime.date(2021, 2, 1))
(33, 3, 12, 2, 3, datetime.date(2021, 2, 2))
(34, 11, 7, 1, 2, datetime.date(2021, 2, 3))
(35, 9, 4, 1, 4, datetime.date(2021, 2, 4))
(36, 14, 7, 1, 2, datetime.date(2021, 2, 5))
(37, 7, 4, 2, 4, datetime.date(2021, 2, 6))
(38, 12, 1, 1, 1, datetime.date(2021, 2, 7))
(39, 7, 8, 1, 4, datetime.date(2021, 2, 8))
(40, 9, 2, 2, 3, datetime.date(2021, 2, 9))
(41, 4, 4, 1, 5, datetime.date(2021, 2, 10))
(42, 8, 12, 2, 5, datetime.date(2021, 2, 11))
(43, 5, 11, 2, 4, datetime.date(2021, 2, 12))
(44, 15, 12, 2, 3, datetime.date(2021, 2, 13))
(45, 13, 6, 1, 2, datetime.date(2021, 2, 14))
(46, 7, 9, 2, 4, datetime.date(2021, 2, 15))
(47, 15, 9, 2, 5, datetime.date(2021, 2, 16))
(48, 14, 2, 2, 4, datetime.date(2021, 2, 17))
(49, 8, 1, 1, 2, datetime.date(2021, 2, 18))
(50, 15, 7, 1, 2, datetime.date(2021, 2, 19))
(51, 7, 8, 2, 2, datetime.date(2021, 2, 20))
(52, 8, 10, 1, 2, datetime.date(2021, 2, 21))
(53, 9, 2, 2, 5, datetime.date(2021, 2, 22))
(54, 12, 6, 1, 3, datetime.date(2021, 2, 23))
(55, 8, 5, 2, 2, datetime.date(2021, 2, 24))
(56, 2, 8, 2, 3, datetime.date(2021, 2, 25))
(57, 13, 7, 1, 1, datetime.date(2021, 2, 26))
(58, 11, 6, 1, 4, datetime.date(2021, 2, 27))
(59, 8, 11, 1, 4, datetime.date(2021, 2, 28))
(60, 13, 12, 2, 3, datetime.date(2021, 3, 1))
(61, 14, 11, 1, 5, datetime.date(2021, 3, 2))
(62, 7, 6, 2, 1, datetime.date(2021, 3, 3))
(63, 14, 5, 2, 2, datetime.date(2021, 3, 4))
(64, 8, 10, 1, 2, datetime.date(2021, 3, 5))
(65, 12, 8, 2, 3, datetime.date(2021, 3, 6))
(66, 3, 12, 1, 2, datetime.date(2021, 3, 7))
(67, 7, 9, 2, 4, datetime.date(2021, 3, 8))
(68, 3, 2, 1, 4, datetime.date(2021, 3, 9))
(69, 2, 4, 1, 3, datetime.date(2021, 3, 10))
(70, 9, 4, 2, 1, datetime.date(2021, 3, 11))
(71, 16, 1, 1, 2, datetime.date(2021, 3, 12))
(72, 12, 3, 2, 4, datetime.date(2021, 3, 13))
(73, 7, 4, 2, 4, datetime.date(2021, 3, 14))
(74, 12, 3, 2, 5, datetime.date(2021, 3, 15))
(75, 2, 9, 2, 5, datetime.date(2021, 3, 16))
(76, 7, 3, 2, 2, datetime.date(2021, 3, 17))
(77, 16, 2, 2, 3, datetime.date(2021, 3, 18))
(78, 2, 7, 2, 2, datetime.date(2021, 3, 19))
(79, 14, 5, 1, 1, datetime.date(2021, 3, 20))
(80, 13, 4, 2, 1, datetime.date(2021, 3, 21))
(81, 9, 6, 1, 2, datetime.date(2021, 3, 22))
(82, 2, 10, 1, 3, datetime.date(2021, 3, 23))
(83, 13, 7, 1, 1, datetime.date(2021, 3, 24))
(84, 6, 10, 2, 2, datetime.date(2021, 3, 25))
(85, 2, 9, 1, 1, datetime.date(2021, 3, 26))
(86, 12, 12, 2, 4, datetime.date(2021, 3, 27))
(87, 14, 4, 1, 2, datetime.date(2021, 3, 28))
(88, 14, 10, 2, 4, datetime.date(2021, 3, 29))
(89, 5, 5, 2, 5, datetime.date(2021, 3, 30))
(90, 13, 1, 1, 5, datetime.date(2021, 3, 31))
(91, 8, 1, 1, 5, datetime.date(2021, 4, 1))
(92, 8, 9, 1, 1, datetime.date(2021, 4, 2))
(93, 10, 4, 2, 5, datetime.date(2021, 4, 3))
(94, 6, 9, 2, 4, datetime.date(2021, 4, 4))
(95, 13, 1, 2, 1, datetime.date(2021, 4, 5))
(96, 1, 9, 2, 4, datetime.date(2021, 4, 6))
(97, 6, 1, 1, 5, datetime.date(2021, 4, 7))
(98, 5, 9, 2, 5, datetime.date(2021, 4, 8))
(99, 14, 5, 1, 1, datetime.date(2021, 4, 9))
(100, 12, 9, 2, 5, datetime.date(2021, 4, 10))
(101, 13, 2, 1, 2, datetime.date(2021, 4, 11))
(102, 5, 5, 1, 5, datetime.date(2021, 4, 12))
(103, 5, 2, 2, 1, datetime.date(2021, 4, 13))
(104, 7, 9, 2, 2, datetime.date(2021, 4, 14))
(105, 16, 11, 2, 4, datetime.date(2021, 4, 15))
(106, 5, 5, 1, 3, datetime.date(2021, 4, 16))
(107, 16, 3, 1, 2, datetime.date(2021, 4, 17))
(108, 12, 4, 2, 3, datetime.date(2021, 4, 18))
(109, 5, 4, 2, 4, datetime.date(2021, 4, 19))
(110, 15, 12, 1, 5, datetime.date(2021, 4, 20))
(111, 14, 11, 1, 2, datetime.date(2021, 4, 21))
(112, 12, 2, 2, 1, datetime.date(2021, 4, 22))
(113, 8, 10, 2, 3, datetime.date(2021, 4, 23))
(114, 5, 9, 1, 4, datetime.date(2021, 4, 24))
(115, 7, 1, 1, 3, datetime.date(2021, 4, 25))
(116, 12, 4, 2, 3, datetime.date(2021, 4, 26))
(117, 3, 12, 1, 2, datetime.date(2021, 4, 27))
(118, 8, 10, 1, 1, datetime.date(2021, 4, 28))
(119, 3, 12, 1, 3, datetime.date(2021, 4, 29))
(120, 5, 7, 1, 3, datetime.date(2021, 4, 30))
(121, 2, 4, 2, 5, datetime.date(2021, 5, 1))
(122, 1, 10, 1, 5, datetime.date(2021, 5, 2))
(123, 4, 7, 1, 3, datetime.date(2021, 5, 3))
(124, 1, 4, 1, 2, datetime.date(2021, 5, 4))
(125, 12, 2, 2, 4, datetime.date(2021, 5, 5))
(126, 10, 4, 2, 2, datetime.date(2021, 5, 6))
(127, 1, 5, 1, 3, datetime.date(2021, 5, 7))
(128, 1, 11, 1, 3, datetime.date(2021, 5, 8))
(129, 13, 4, 1, 3, datetime.date(2021, 5, 9))
(130, 1, 4, 2, 3, datetime.date(2021, 5, 10))
(131, 4, 6, 2, 1, datetime.date(2021, 5, 11))
(132, 3, 4, 2, 1, datetime.date(2021, 5, 12))
(133, 4, 10, 2, 4, datetime.date(2021, 5, 13))
(134, 14, 12, 1, 1, datetime.date(2021, 5, 14))
(135, 11, 12, 1, 4, datetime.date(2021, 5, 15))
(136, 7, 6, 2, 2, datetime.date(2021, 5, 16))
(137, 7, 12, 1, 3, datetime.date(2021, 5, 17))
(138, 12, 9, 1, 3, datetime.date(2021, 5, 18))
(139, 15, 6, 1, 2, datetime.date(2021, 5, 19))
(140, 14, 5, 2, 3, datetime.date(2021, 5, 20))
(141, 1, 5, 2, 1, datetime.date(2021, 5, 21))
(142, 15, 7, 2, 4, datetime.date(2021, 5, 22))
(143, 10, 9, 2, 3, datetime.date(2021, 5, 23))
(144, 4, 9, 1, 2, datetime.date(2021, 5, 24))
(145, 10, 11, 1, 5, datetime.date(2021, 5, 25))
(146, 12, 10, 2, 4, datetime.date(2021, 5, 26))
(147, 15, 3, 2, 1, datetime.date(2021, 5, 27))
(148, 1, 9, 2, 3, datetime.date(2021, 5, 28))
(149, 1, 3, 1, 4, datetime.date(2021, 5, 29))
(150, 16, 1, 1, 1, datetime.date(2021, 5, 30))
(151, 13, 12, 2, 5, datetime.date(2021, 5, 31))
(152, 13, 6, 1, 3, datetime.date(2021, 6, 1))
(153, 1, 7, 2, 4, datetime.date(2021, 6, 2))
(154, 15, 4, 1, 4, datetime.date(2021, 6, 3))
(155, 16, 4, 2, 2, datetime.date(2021, 6, 4))
(156, 7, 11, 2, 1, datetime.date(2021, 6, 5))
(157, 4, 4, 1, 4, datetime.date(2021, 6, 6))
(158, 7, 8, 1, 4, datetime.date(2021, 6, 7))
(159, 3, 6, 1, 3, datetime.date(2021, 6, 8))
(160, 8, 3, 1, 1, datetime.date(2021, 6, 9))
(161, 14, 11, 2, 3, datetime.date(2021, 6, 10))
(162, 4, 3, 1, 5, datetime.date(2021, 6, 11))
(163, 5, 2, 2, 2, datetime.date(2021, 6, 12))
(164, 8, 3, 1, 2, datetime.date(2021, 6, 13))
(165, 8, 8, 1, 5, datetime.date(2021, 6, 14))
(166, 15, 12, 1, 1, datetime.date(2021, 6, 15))
(167, 7, 9, 2, 5, datetime.date(2021, 6, 16))
(168, 7, 12, 2, 2, datetime.date(2021, 6, 17))
(169, 1, 12, 2, 3, datetime.date(2021, 6, 18))
(170, 12, 8, 1, 1, datetime.date(2021, 6, 19))
(171, 1, 1, 1, 3, datetime.date(2021, 6, 20))
(172, 6, 5, 1, 5, datetime.date(2021, 6, 21))
(173, 7, 2, 2, 2, datetime.date(2021, 6, 22))
(174, 10, 8, 1, 4, datetime.date(2021, 6, 23))
(175, 16, 4, 2, 4, datetime.date(2021, 6, 24))
(176, 14, 2, 1, 5, datetime.date(2021, 6, 25))
(177, 5, 3, 2, 5, datetime.date(2021, 6, 26))
(178, 10, 12, 2, 3, datetime.date(2021, 6, 27))
(179, 10, 7, 2, 3, datetime.date(2021, 6, 28))
(180, 4, 5, 1, 5, datetime.date(2021, 6, 29))
(181, 13, 6, 1, 4, datetime.date(2021, 6, 30))
(182, 16, 4, 2, 5, datetime.date(2021, 7, 1))
(183, 1, 1, 2, 4, datetime.date(2021, 7, 2))
(184, 6, 3, 2, 5, datetime.date(2021, 7, 3))
(185, 7, 2, 2, 5, datetime.date(2021, 7, 4))
(186, 3, 6, 2, 1, datetime.date(2021, 7, 5))
(187, 10, 11, 1, 3, datetime.date(2021, 7, 6))
(188, 12, 12, 1, 2, datetime.date(2021, 7, 7))
(189, 3, 8, 1, 3, datetime.date(2021, 7, 8))
(190, 9, 3, 1, 4, datetime.date(2021, 7, 9))
(191, 13, 5, 1, 2, datetime.date(2021, 7, 10))
(192, 8, 4, 1, 3, datetime.date(2021, 7, 11))
(193, 10, 6, 2, 1, datetime.date(2021, 7, 12))
(194, 5, 5, 1, 3, datetime.date(2021, 7, 13))
(195, 2, 5, 2, 1, datetime.date(2021, 7, 14))
(196, 16, 5, 2, 4, datetime.date(2021, 7, 15))
(197, 6, 11, 2, 5, datetime.date(2021, 7, 16))
(198, 6, 8, 1, 2, datetime.date(2021, 7, 17))
(199, 7, 4, 2, 4, datetime.date(2021, 7, 18))
(200, 10, 5, 2, 4, datetime.date(2021, 7, 19))
(201, 5, 3, 1, 5, datetime.date(2021, 7, 20))
(202, 8, 10, 2, 1, datetime.date(2021, 7, 21))
(203, 9, 6, 2, 2, datetime.date(2021, 7, 22))
(204, 10, 3, 1, 2, datetime.date(2021, 7, 23))
(205, 15, 2, 2, 4, datetime.date(2021, 7, 24))
(206, 16, 12, 1, 5, datetime.date(2021, 7, 25))
(207, 9, 8, 1, 2, datetime.date(2021, 7, 26))
(208, 1, 12, 2, 2, datetime.date(2021, 7, 27))
(209, 11, 12, 2, 4, datetime.date(2021, 7, 28))
(210, 11, 4, 2, 3, datetime.date(2021, 7, 29))
(211, 11, 9, 2, 1, datetime.date(2021, 7, 30))
(212, 13, 7, 2, 5, datetime.date(2021, 7, 31))
(213, 7, 8, 2, 3, datetime.date(2021, 8, 1))
(214, 14, 3, 1, 1, datetime.date(2021, 8, 2))
(215, 5, 10, 1, 1, datetime.date(2021, 8, 3))
(216, 9, 4, 1, 1, datetime.date(2021, 8, 4))
(217, 14, 12, 1, 5, datetime.date(2021, 8, 5))
(218, 11, 10, 1, 3, datetime.date(2021, 8, 6))
(219, 6, 2, 1, 5, datetime.date(2021, 8, 7))
(220, 5, 8, 1, 3, datetime.date(2021, 8, 8))
(221, 8, 2, 2, 3, datetime.date(2021, 8, 9))
(222, 1, 10, 1, 4, datetime.date(2021, 8, 10))
(223, 11, 6, 2, 2, datetime.date(2021, 8, 11))
(224, 16, 6, 2, 2, datetime.date(2021, 8, 12))
(225, 4, 9, 2, 5, datetime.date(2021, 8, 13))
(226, 1, 2, 1, 2, datetime.date(2021, 8, 14))
(227, 6, 10, 2, 1, datetime.date(2021, 8, 15))
(228, 8, 3, 2, 1, datetime.date(2021, 8, 16))
(229, 12, 1, 1, 3, datetime.date(2021, 8, 17))
(230, 11, 7, 2, 2, datetime.date(2021, 8, 18))
(231, 14, 12, 1, 5, datetime.date(2021, 8, 19))
(232, 2, 8, 2, 2, datetime.date(2021, 8, 20))
(233, 3, 10, 1, 3, datetime.date(2021, 8, 21))
(234, 8, 8, 2, 3, datetime.date(2021, 8, 22))
(235, 10, 11, 2, 4, datetime.date(2021, 8, 23))
(236, 14, 4, 1, 3, datetime.date(2021, 8, 24))
(237, 6, 9, 2, 5, datetime.date(2021, 8, 25))
(238, 14, 3, 2, 2, datetime.date(2021, 8, 26))
(239, 7, 5, 1, 3, datetime.date(2021, 8, 27))
(240, 15, 12, 2, 3, datetime.date(2021, 8, 28))
(241, 7, 10, 2, 1, datetime.date(2021, 8, 29))
(242, 14, 3, 2, 2, datetime.date(2021, 8, 30))
(243, 5, 12, 2, 4, datetime.date(2021, 8, 31))
(244, 14, 2, 2, 3, datetime.date(2021, 9, 1))
(245, 3, 10, 1, 2, datetime.date(2021, 9, 2))
(246, 3, 8, 2, 5, datetime.date(2021, 9, 3))
(247, 16, 4, 1, 1, datetime.date(2021, 9, 4))
(248, 3, 6, 1, 2, datetime.date(2021, 9, 5))
(249, 12, 10, 1, 1, datetime.date(2021, 9, 6))
(250, 12, 8, 1, 1, datetime.date(2021, 9, 7))
(251, 10, 12, 1, 5, datetime.date(2021, 9, 8))
(252, 7, 12, 1, 2, datetime.date(2021, 9, 9))
(253, 10, 8, 2, 2, datetime.date(2021, 9, 10))
(254, 7, 11, 2, 2, datetime.date(2021, 9, 11))
(255, 13, 3, 2, 4, datetime.date(2021, 9, 12))
(256, 4, 4, 2, 3, datetime.date(2021, 9, 13))
(257, 8, 5, 1, 1, datetime.date(2021, 9, 14))
(258, 1, 5, 1, 5, datetime.date(2021, 9, 15))
(259, 12, 11, 2, 1, datetime.date(2021, 9, 16))
(260, 7, 9, 2, 4, datetime.date(2021, 9, 17))
(261, 13, 12, 2, 5, datetime.date(2021, 9, 18))
(262, 2, 5, 2, 4, datetime.date(2021, 9, 19))
(263, 5, 11, 1, 1, datetime.date(2021, 9, 20))
(264, 9, 8, 1, 1, datetime.date(2021, 9, 21))
(265, 15, 10, 2, 5, datetime.date(2021, 9, 22))
(266, 10, 12, 1, 4, datetime.date(2021, 9, 23))
(267, 8, 12, 2, 3, datetime.date(2021, 9, 24))
(268, 12, 10, 1, 2, datetime.date(2021, 9, 25))
(269, 6, 8, 2, 4, datetime.date(2021, 9, 26))
(270, 12, 7, 1, 5, datetime.date(2021, 9, 27))
(271, 11, 8, 1, 3, datetime.date(2021, 9, 28))
(272, 5, 11, 2, 2, datetime.date(2021, 9, 29))
(273, 9, 5, 1, 4, datetime.date(2021, 9, 30))
(274, 11, 7, 1, 5, datetime.date(2021, 10, 1))
(275, 6, 8, 2, 2, datetime.date(2021, 10, 2))
(276, 12, 9, 1, 4, datetime.date(2021, 10, 3))
(277, 13, 10, 2, 1, datetime.date(2021, 10, 4))
(278, 11, 7, 1, 4, datetime.date(2021, 10, 5))
(279, 7, 7, 2, 3, datetime.date(2021, 10, 6))
(280, 14, 3, 1, 2, datetime.date(2021, 10, 7))
(281, 13, 2, 1, 4, datetime.date(2021, 10, 8))
(282, 14, 9, 2, 5, datetime.date(2021, 10, 9))
(283, 10, 7, 1, 4, datetime.date(2021, 10, 10))
(284, 12, 11, 1, 3, datetime.date(2021, 10, 11))
(285, 8, 12, 2, 5, datetime.date(2021, 10, 12))
(286, 4, 11, 2, 5, datetime.date(2021, 10, 13))
(287, 13, 11, 1, 4, datetime.date(2021, 10, 14))
(288, 10, 6, 1, 1, datetime.date(2021, 10, 15))
(289, 6, 10, 1, 2, datetime.date(2021, 10, 16))
(290, 6, 5, 2, 4, datetime.date(2021, 10, 17))
(291, 3, 10, 1, 1, datetime.date(2021, 10, 18))
(292, 1, 11, 1, 4, datetime.date(2021, 10, 19))
(293, 11, 7, 2, 5, datetime.date(2021, 10, 20))
(294, 10, 6, 1, 2, datetime.date(2021, 10, 21))
(295, 8, 10, 2, 3, datetime.date(2021, 10, 22))
(296, 5, 8, 2, 2, datetime.date(2021, 10, 23))
(297, 15, 8, 2, 3, datetime.date(2021, 10, 24))
(298, 6, 6, 1, 5, datetime.date(2021, 10, 25))
(299, 10, 4, 1, 3, datetime.date(2021, 10, 26))
(300, 15, 9, 1, 2, datetime.date(2021, 10, 27))
(301, 5, 4, 1, 1, datetime.date(2021, 10, 28))
(302, 4, 11, 2, 3, datetime.date(2021, 10, 29))
(303, 12, 7, 2, 3, datetime.date(2021, 10, 30))
(304, 7, 1, 2, 5, datetime.date(2021, 10, 31))
(305, 12, 10, 1, 1, datetime.date(2021, 11, 1))
(306, 5, 9, 1, 5, datetime.date(2021, 11, 2))
(307, 11, 8, 1, 1, datetime.date(2021, 11, 3))
(308, 1, 12, 1, 4, datetime.date(2021, 11, 4))
(309, 1, 9, 2, 4, datetime.date(2021, 11, 5))
(310, 14, 5, 2, 4, datetime.date(2021, 11, 6))
(311, 7, 6, 2, 5, datetime.date(2021, 11, 7))
(312, 9, 1, 2, 1, datetime.date(2021, 11, 8))
(313, 2, 10, 1, 1, datetime.date(2021, 11, 9))
(314, 5, 1, 1, 5, datetime.date(2021, 11, 10))
(315, 4, 8, 2, 5, datetime.date(2021, 11, 11))
(316, 15, 7, 1, 1, datetime.date(2021, 11, 12))
(317, 15, 5, 1, 2, datetime.date(2021, 11, 13))
(318, 14, 6, 2, 2, datetime.date(2021, 11, 14))
(319, 2, 11, 2, 2, datetime.date(2021, 11, 15))
(320, 15, 10, 1, 1, datetime.date(2021, 11, 16))
(321, 8, 2, 2, 3, datetime.date(2021, 11, 17))
(322, 8, 9, 2, 4, datetime.date(2021, 11, 18))
(323, 12, 12, 1, 2, datetime.date(2021, 11, 19))
(324, 9, 5, 2, 1, datetime.date(2021, 11, 20))
(325, 15, 12, 1, 3, datetime.date(2021, 11, 21))
(326, 8, 8, 2, 2, datetime.date(2021, 11, 22))
(327, 12, 4, 2, 1, datetime.date(2021, 11, 23))
(328, 6, 9, 2, 1, datetime.date(2021, 11, 24))
(329, 16, 5, 1, 2, datetime.date(2021, 11, 25))
(330, 8, 7, 2, 3, datetime.date(2021, 11, 26))
(331, 6, 2, 2, 3, datetime.date(2021, 11, 27))
(332, 13, 9, 1, 4, datetime.date(2021, 11, 28))
(333, 13, 12, 1, 5, datetime.date(2021, 11, 29))
(334, 12, 7, 1, 4, datetime.date(2021, 11, 30))
(335, 4, 12, 2, 2, datetime.date(2021, 12, 1))
(336, 1, 6, 1, 1, datetime.date(2021, 12, 2))
(337, 1, 5, 2, 1, datetime.date(2021, 12, 3))
(338, 13, 3, 2, 5, datetime.date(2021, 12, 4))
(339, 16, 8, 1, 3, datetime.date(2021, 12, 5))
(340, 15, 4, 2, 4, datetime.date(2021, 12, 6))
(341, 2, 6, 2, 4, datetime.date(2021, 12, 7))
(342, 3, 12, 1, 3, datetime.date(2021, 12, 8))
(343, 10, 4, 1, 4, datetime.date(2021, 12, 9))
(344, 16, 1, 2, 4, datetime.date(2021, 12, 10))
(345, 15, 3, 2, 2, datetime.date(2021, 12, 11))
(346, 14, 8, 1, 3, datetime.date(2021, 12, 12))
(347, 8, 7, 2, 4, datetime.date(2021, 12, 13))
(348, 6, 2, 2, 5, datetime.date(2021, 12, 14))
(349, 2, 6, 1, 2, datetime.date(2021, 12, 15))
(350, 14, 8, 2, 1, datetime.date(2021, 12, 16))
(351, 10, 4, 2, 1, datetime.date(2021, 12, 17))
(352, 3, 1, 2, 1, datetime.date(2021, 12, 18))
(353, 8, 3, 2, 5, datetime.date(2021, 12, 19))
(354, 12, 2, 1, 4, datetime.date(2021, 12, 20))
(355, 7, 11, 2, 1, datetime.date(2021, 12, 21))
(356, 16, 10, 1, 5, datetime.date(2021, 12, 22))
(357, 6, 7, 1, 4, datetime.date(2021, 12, 23))
(358, 7, 7, 2, 2, datetime.date(2021, 12, 24))
(359, 6, 1, 1, 4, datetime.date(2021, 12, 25))
(360, 11, 9, 1, 1, datetime.date(2021, 12, 26))
(361, 10, 9, 1, 3, datetime.date(2021, 12, 27))
(362, 4, 5, 2, 3, datetime.date(2021, 12, 28))
(363, 8, 8, 1, 2, datetime.date(2021, 12, 29))
(364, 9, 11, 1, 4, datetime.date(2021, 12, 30))
(365, 13, 1, 2, 2, datetime.date(2021, 12, 31))

## Nivell 2

- Exercici 2

    Mostra que pots carregar algunes consultes senzilles a un Pandas Dataframe.

In [ ]:
# Registres de l'entitat CLIENT
mycursor.execute("SELECT * FROM client")

client = mycursor.fetchall()

# Nom dels atributs
num_fields = len(mycursor.description)
field_names = [i[0] for i in mycursor.description]

# Creació del dataframe
client_df = pd.DataFrame(client,columns=field_names)
client_df

result = connection.query("SELECT * FROM ESTABLIMENTS" )

for firstname, lastname in result.getresult() :
    print( firstname, lastname )

conn.close()

## Nivell 3

- Exercici 3

    Genera algun gràfic que resumeixi les dades.